<div
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  class="milestone">

  <!--!
    NOTE: <py:def>s from macros.html are going to be moved to
    separate files (see the warning in the beginning of the macros.html file)
  -->
  <xi:include href="macros.html" />

  <div py:if="preview" class="notice system-message">
    A preview of the progress meter is displayed below
    since this ticket, which has not been created yet,
    is being referred to:
  </div>

  <div class="info trac-progress">
    ${progress_bar(stats, interval_hrefs, stats_href=stats_href)}
  </div>
</div>
