/*
 * CSS used by Trac ProgressMeter macro plugin
 * (http://trac-hacks.org/wiki/ProgressMeterMacro)
 *
 * Mostly copied from htdocs/css/rodamap.css in standard trac distribution
 */

/* General styles for the progress bars */
table.progress {
 border: 1px solid #d7d7d7;
 border-collapse: collapse;
 border-spacing: 0;
 float: left;
 margin: 0;
 padding: 0;
 empty-cells: show;
}
table.progress a, table.progress :link, table.progress :visited,
table.progress :link:hover, table.progress :visited:hover {
 border: none;
 display: block;
 width: 100%;
 height: 1.2em;
 padding: 0;
 margin: 0;
 text-decoration: none
}
table.progress td { background: #fff; padding: 0 }
table.progress td.new { background: #f5f5b5 }
table.progress td.closed { background: #bae0ba }
table.progress td :hover { background: none }
p.percent {
 font-size: 10px;
 line-height: 2.4em;
 margin: 0.9em 0 .1em 1.2em;
 float: left;
}
.milestone h2 {
 background: #f7f7f7;
 border-bottom: 1px solid #d7d7d7;
 margin: 0;
}
.milestone .progress { margin: 1em 0 0 1em; width: 40em; max-width: 70% }
.milestone dl {
 font-size: 10px;
 font-style: italic;
 margin: 0 1em 2em;
 white-space: nowrap;
 clear: left;
}
.milestone dt { display: inline; margin-left: .5em }
.milestone dd { display: inline; margin: 0 1em 0 .5em }
.milestone .description { margin-left: 1em }
