/*
 * CSS used by Trac ProgressMeter macro plugin
 * (http://trac-hacks.org/wiki/ProgressMeterMacro)
 *
 * Mostly copied from htdocs/css/rodamap.css in standard trac distribution
 */

.progressmeter table {
	border: 1px solid #d7d7d7;
	border-collapse: collapse;
	border-spacing: 0;
	float: left;
	margin: 3px 4px 3px 0;
	empty-cells: show;
	height: 1.2em;
	width: 40em;
}

.progressmeter table td {
	padding: 0;
}

.progressmeter table td.active {
	background: #f5f5f5;
}

.progressmeter table td.closed {
	background: #bae0ba;
}

.progressmeter p {
	font-size: 10px;
	line-height: 2.4em
}
